In [1]:
import numpy as np
from Perceptron import Perceptron
import time
import pickle
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')
type(iris),iris.shape

(pandas.core.frame.DataFrame, (150, 5))

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [5]:
iris.iloc[:99,[2,3]].values

array([[1.4, 0.2],
       [1.4, 0.2],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.7, 0.4],
       [1.4, 0.3],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.5, 0.2],
       [1.6, 0.2],
       [1.4, 0.1],
       [1.1, 0.1],
       [1.2, 0.2],
       [1.5, 0.4],
       [1.3, 0.4],
       [1.4, 0.3],
       [1.7, 0.3],
       [1.5, 0.3],
       [1.7, 0.2],
       [1.5, 0.4],
       [1. , 0.2],
       [1.7, 0.5],
       [1.9, 0.2],
       [1.6, 0.2],
       [1.6, 0.4],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.6, 0.2],
       [1.6, 0.2],
       [1.5, 0.4],
       [1.5, 0.1],
       [1.4, 0.2],
       [1.5, 0.2],
       [1.2, 0.2],
       [1.3, 0.2],
       [1.4, 0.1],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.3, 0.3],
       [1.3, 0.3],
       [1.3, 0.2],
       [1.6, 0.6],
       [1.9, 0.4],
       [1.4, 0.3],
       [1.6, 0.2],
       [1.4, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [4.7, 1.4],
       [4.5, 1.5],
       [4.9, 1.5],
       [4. , 1.3],
       [4.6, 1.5],
       [4.5, 1.3],
       [4.7, 1.6],
       [3.3, 1. ],
       [4.6, 1.3],
       [3.9, 1.4],
       [3.5, 1. ],
       [4.2, 1.5],
       [4. , 1. ],
       [4.7, 1.4],
       [3.6, 1.3],
       [4.4, 1.4],
       [4.5, 1.5],
       [4.1, 1. ],
       [4.5, 1.5],
       [3.9, 1.1],
       [4.8, 1.8],
       [4. , 1.3],
       [4.9, 1.5],
       [4.7, 1.2],
       [4.3, 1.3],
       [4.4, 1.4],
       [4.8, 1.4],
       [5. , 1.7],
       [4.5, 1.5],
       [3.5, 1. ],
       [3.8, 1.1],
       [3.7, 1. ],
       [3.9, 1.2],
       [5.1, 1.6],
       [4.5, 1.5],
       [4.5, 1.6],
       [4.7, 1.5],
       [4.4, 1.3],
       [4.1, 1.3],
       [4. , 1.3],
       [4.4, 1.2],
       [4.6, 1.4],
       [4. , 1.2],
       [3.3, 1. ],
       [4.2, 1.3],
       [4.2, 1.2],
       [4.2, 1.3],
       [4.3, 1.3],
       [3. , 1.1]])

In [23]:
type(iris)

pandas.core.frame.DataFrame

In [6]:
np.where(iris.iloc[:99,4].values == "setosa",1,-1)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1])

In [7]:
def step1_learning(thresholds=0.0, eta=0.1, n_iter=10):
    X = iris.iloc[:99, [2, 3]].values
    y = np.where(iris.iloc[:99, 4].values == "setosa", 1, -1)
    ppn = Perceptron(thresholds=thresholds, eta=eta, n_iter=n_iter)
    s_time = time.time()
    ppn.fit(X, y)
    e_time = time.time()
    print("학습에 걸린 시간: ", e_time - s_time)
    print("학습 중에 오차난 수 : ", ppn.errors_)
    with open("./and_model.pickle", "wb") as f:
        pickle.dump(ppn, f)
    print("학습이 완료되었습니다.")
    print("최종 가중치 ", ppn.w_)

In [8]:
# def step1_learning(thresholds=0.0, eta=0.1, n_iter=10):
#     X = np.array([[0, 0], [1, 0], [0, 1], [1, 1]])
#     y = np.array([0, 0, 0, 1])
#     ppn = Perceptron(thresholds=thresholds, eta=eta, n_iter=n_iter)
#     s_time = time.time()
#     ppn.fit(X, y)
#     e_time = time.time()
#     print("학습에 걸린 시간: ", e_time - s_time)
#     print("학습 중에 오차난 수 : ", ppn.errors_)
#     with open("./and_model.pickle", "wb") as f:
#         pickle.dump(ppn, f)
#     print("학습이 완료되었습니다.")
#     print("최종 가중치 ", ppn.w_)

In [27]:
step1_learning()

입력값 :  [1.4 0.2]
target :  1 예측값 :  -1
업데이트 전 :  [0. 0. 0.]
업데이트 양 : 0.2
업데이트 후 :  [0.2  0.28 0.04]
--------------------------------
입력값 :  [4.7 1.4]
target :  -1 예측값 :  1
업데이트 전 :  [0.2  0.28 0.04]
업데이트 양 : -0.2
업데이트 후 :  [ 0.   -0.66 -0.24]
--------------------------------
입력값 :  [1.4 0.2]
target :  1 예측값 :  -1
업데이트 전 :  [ 0.   -0.66 -0.24]
업데이트 양 : 0.2
업데이트 후 :  [ 0.2  -0.38 -0.2 ]
--------------------------------
입력값 :  [1.4 0.2]
target :  1 예측값 :  -1
업데이트 전 :  [ 0.2  -0.38 -0.2 ]
업데이트 양 : 0.2
업데이트 후 :  [ 0.4  -0.1  -0.16]
--------------------------------
학습에 걸린 시간:  0.019144773483276367
학습 중에 오차난 수 :  [2, 2, 0, 0, 0, 0, 0, 0, 0, 0]
학습이 완료되었습니다.
최종 가중치  [ 0.4  -0.1  -0.16]

In [16]:
def step2_using():
    with open("./and_model.pickle", "rb") as f:
        model = pickle.load(f)

    while True:
        a1 = input("첫 번째 숫자를 입력하세요(0 또는 1): ")
        a2 = input("두 번째 숫자를 입력하세요(0 또는 1): ")

        if a1 == '99':
            break
        X = np.array([[float(a1), float(a2)]])  # ✅ 2차원 배열
        result = model.predict(X)[0]  # ✅ 결과에서 첫 번째 값 추출 (정수 0 또는 1)

        print("net_input:", model.net_input(X))  # 확인용 출력
        print("예측값:", result)

        if result == 1:
            print("Setosa")
        else:
            print("versicolor")

In [28]:
step2_using()

net_input: [-0.218]
예측값: -1
versicolor

In [19]:
iris.tail(2),iris.head(2)

(     sepal_length  sepal_width  petal_length  petal_width    species
 148           6.2          3.4           5.4          2.3  virginica
 149           5.9          3.0           5.1          1.8  virginica,
    sepal_length  sepal_width  petal_length  petal_width species
 0           5.1          3.5           1.4          0.2  setosa
 1           4.9          3.0           1.4          0.2  setosa)